---
Language: Cpp
ColumnLimit: 110
IndentPPDirectives: BeforeHash
AlwaysBreakTemplateDeclarations : true
PackConstructorInitializers : CurrentLine
AccessModifierOffset: -1
IndentCaseLabels : true
AllowShortLambdasOnASingleLine: Empty
RequiresExpressionIndentation: OuterScope
BinPackArguments : false
BinPackParameters : false
LambdaBodyIndentation : Signature
PenaltyReturnTypeOnItsOwnLine : 1

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
    AfterRequiresInClause: true
    AfterRequiresInExpression : true
...
