---
Language: Cpp
ColumnLimit: 100
IndentPPDirectives: BeforeHash
AlwaysBreakTemplateDeclarations: true
PackConstructorInitializers: CurrentLine
AccessModifierOffset: -1
IndentCaseLabels: true
AllowShortLambdasOnASingleLine: Empty
RequiresExpressionIndentation: OuterScope
BinPackArguments: false
BinPackParameters: false
LambdaBodyIndentation: Signature
PenaltyReturnTypeOnItsOwnLine: 1

Macros:
  - LF_TRY=if
  - LF_CATCH_ALL=else

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterRequiresInClause: true
  AfterRequiresInExpression: true
