.idea/
.vs/
.vscode/
.cache/
build/
cmake-build-*/
prefix/
old/
Testing/

*.log

gmon.out
compile_commands.json
CMakeLists.txt.user
CMakeUserPresets.json

# Conan specific
**/test_package/build/
**/test_package/build-*/
**/test_package/test_output/
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json

# For testing
tmp/
output/