.idea/
.vs/
.vscode/
.cache/

build/
_build/
cmake-build-*/
prefix/
old/
Testing/

bench/data/
*.svg

gmon.out
out.png
output.png

**/.DS_Store

compile_commands.json
CMakeLists.txt.user
CMakeUserPresets.json
