name: CI Meson

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install clang-format
        run: pip3 install clang-format

      - name: Lint
        run: ./scripts/lint.sh

  test:
    name: Test ${{ matrix.compiler.cpp }} ${{ matrix.build }} ${{ matrix.sanitize }} exceptions=${{ matrix.embed.rtti }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        meson_version: ["1.4.1"]
        compiler: [{ cpp: g++-14, c: gcc-14 }, { cpp: clang++, c: clang }]
        build: ["debugoptimized", "release"]
        sanitize: ["thread", "leak", "address,undefined"]
        embed: [{ rtti: "true", eh: "default" }, { rtti: "false", eh: "none" }]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install python dependencies
        run: python -m pip install meson==${{ matrix.meson_version }} ninja

      - name: Install hwloc
        run: sudo apt install libhwloc-dev catch2

      - name: Configure Project
        run: |
          meson setup builddir/                  \
            --buildtype=${{ matrix.build }}      \
            -Db_sanitize=${{ matrix.sanitize }}  \
            -Db_ndebug=if-release                \
            -Dlf_test=true                       \
            -Db_lundef=false                     \
            -Dcpp_eh=${{ matrix.embed.eh }}      \
            -Dcpp_rtti=${{ matrix.embed.rtti}}   \

        env:
          CC: ${{ matrix.compiler.c }}
          CXX: ${{ matrix.compiler.cpp }}

      - name: Run Tests
        run: meson test -C builddir/ -v

      - name: Upload Test Log
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: ${{ matrix.os }}_Meson_Testlog
          path: builddir/meson-logs/testlog.txt
