name: Lint

on:
  push:
    branches: ["modules"]
  pull_request:
    branches: ["modules"]
  workflow_dispatch:

jobs:
  lint:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Install Dependencies
        run: brew install clang-format codespell

      - name: Run codespell
        run: codespell

      - name: Run clang-format
        run: |
          find src include test benchmark/src -name "*.cpp" -o -name "*.hpp" -o -name "*.cxx" | xargs clang-format --dry-run --Werror
