name: Ubuntu

on:
  push:
    branches: [ "modules" ]
  pull_request:
    branches: [ "modules" ]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Homebrew
      uses: Homebrew/actions/setup-homebrew@master

    - name: Install Dependencies
      run: brew bundle

    - name: Configure, Build, and Test
      run: cmake --workflow --preset llvm-brew
